@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center><img src="images/logo.jpg" width="400" /></center>

<table class="table">
    <thread>
        <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date/Time</th>
            
        </tr>
    </thread>

    <tbody>
        @foreach (var item in Model.listEmails)
        {
            <tr>
                <td>@item.EmailSender</td>
                <td>
                    @if (item.EmailIsRead.Equals("0"))
                    {
                        <img src="images/yellow.gif" height="10">
                    }
                    <a href="ReadMail?emailid=@item.EmailID">@item.EmailSubject</a>
                </td>
                <td>@item.EmailDate</td>
               
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary btn-sm" href="/ComposeMail?Sender=@User.Identity.Name">Compose New Email</a>